# Node
node_modules/
dist/
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Rust
/target/
**/target/

# Tauri
**/src-tauri/gen/
**/src-tauri/target/
apps/desktop/src-tauri/binaries/

# IDE / OS
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
